<div class="custom-container">
    <div class="circle-container">
      <div class="circle">
        <button id="close">
          <i class="fas fa-times"></i>
        </button>
        <button id="open">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>