<%- include('../components/header') %>
<div class="container">
    <h1>The Question</h1>
    <div>
    
   </div>

    

    <form method="POST" action="/new/question" class="container">
     
        <div>
            <input type="text" name="question" placeholder="Question" class="form-control" required/>
            <% if (errorsList && errorsList.question){%>
                <div class="error">
                    <p><%=errorsList.question%></p> 
                </div>
            <%}%>
        </div>
    <br>
        <div>
            <textarea  rows="20" cols="30" name="description" placeholder="Description" class="form-control" required></textarea>
            <% if (errorsList && errorsList.description){%>
                <div class="error">
                    <p><%=errorsList.description%></p> 
                </div>
            <%}%>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary"  >Add questions</button>
        </div>
    </form>
</div>
    <%- include('../components/footer') %>