<%- include('../components/header') %>

    <h1>The Question</h1>
    <div>
     <a href="/">Back</a>
   </div>

    

    <form method="POST" action="/new/question">
     
        <div>
            <input type="text" name="question" placeholder="Question" required/>
            <% if (errorsList && errorsList.question){%>
                <div class="error">
                    <p><%=errorsList.question%></p> 
                </div>
            <%}%>
        </div>
    
        <div>
            <textarea  rows="20" cols="30" name="description" placeholder="Description" required></textarea>
            <% if (errorsList && errorsList.description){%>
                <div class="error">
                    <p><%=errorsList.description%></p> 
                </div>
            <%}%>
        </div>
        <div>
            <button type="submit">Add questions</button>
        </div>
    </form>
    <%- include('../components/footer') %>